services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_heroes
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: heroesplataform_user
      POSTGRES_PASSWORD: QPK4abTEM1EDMJYya0ZBephFQ7yDnjKA
      POSTGRES_DB: heroesplataform
      TZ: "America/Sao_Paulo"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nestjs_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U heroesplataform_user -d heroesplataform"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin@1234
      MONGO_INITDB_DATABASE: HeroesMongoPlataform
      TZ: "America/Sao_Paulo"
    volumes:
      - mongo_data:/data/db
    networks:
      - nestjs_network

volumes:
  postgres_data:
    external: true
    name: api-heroes_postgres_data

  mongo_data:
    external: true
    name: api-heroes_mongo_data

networks:
  nestjs_network:
    driver: bridge
