services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_heroes
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: heroesplataform_user
      POSTGRES_PASSWORD: QPK4abTEM1EDMJYya0ZBephFQ7yDnjKA
      POSTGRES_DB: heroesplataform
      TZ: "America/Sao_Paulo"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nestjs_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U heroesplataform_user -d heroesplataform"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  nestjs_network:
    driver: bridge
