services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_heroes
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: heroesplataform_user
      POSTGRES_PASSWORD: QPK4abTEM1EDMJYya0ZBephFQ7yDnjKA
      POSTGRES_DB: heroesplataform
      TZ: "America/Sao_Paulo"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/postgres-init:/docker-entrypoint-initdb.d
    networks:
      - nestjs_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U heroesplataform_user -d heroesplataform"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin@1234
      MONGO_INITDB_DATABASE: HeroesMongoPlataform
      TZ: "America/Sao_Paulo"
    volumes:
      - mongo_data:/data/db
      - ./database/mongo-init:/docker-entrypoint-initdb.d
    networks:
      - nestjs_network

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin@1234
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - nestjs_network

volumes:
  postgres_data:
    driver: local
  mongo_data:
    driver: local
  minio_data:
    driver: local

networks:
  nestjs_network:
    driver: bridge